.collision-count-overlay {
	position: absolute;
	z-index: 100;
	display: none;
	padding: 1rem;
	color: white;
}

.time-overlay {
	position: absolute;
	z-index: 100;
	/* display: none; */
    margin-top: 1.5rem;
	padding: 1rem;
	color: red;
}